<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataAccessLayer.Properties.Settings.AlmacenConnectionString"
            connectionString="Data Source=DESKTOP-P6HD3SM;Initial Catalog=Almacen;User ID=sa;Password=15360953"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>